# Dependencies
node_modules/

# Environment
.env
.env.local

# Production
dist/
build/
.vercel/

# Testing
coverage/

# Logs
*.log

# IDEs
.DS_Store
.idea/
.vscode/settings.json

# Local history
.history/
